<div class="jumbotron">
    <h2>WEB SERVICE CESTA DE COMPRAS</h2>
    <p class="lead">Trabalho Integrado do 5º Período - IFES CAMPUS SERRA </p>
    <p><a href="https://github.com/lucasoliveiragarcia/Cesta-de-Compras" class="btn btn-primary btn-lg">Acessar repositório GitHub</a></p>
</div>
<div class="row">
    <h2>Integrantes</h2>
    <p class="lead">Eduardo Couto eduardocoouto@gmail.com</p>
    <p class="lead">Lucas Garcia lucasoliveiragarcia@live.com</p>
    <p class="lead">Olavo Curatola olavo.curatola@gmail.com</p>
</div>
